<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <add key="Tracker1" value="10.148.250.196:22122"/>
    <add key="Tracker2" value="10.31.148.153:22122"/>
  </appSettings>
</configuration>